.Fav-red {
  font-size: 20px;
  color: red;
  z-index: 9;
}
.Fav-white {
  font-size: 20px;
  color: #fff;
  z-index: 999;
}
.Fav-button {
  border: none;
  background-color: transparent;
  margin: 5px 12px 0 0;
}
